/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
@media screen and (max-width: 780px) {
  html,
  body {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  nav {
    background-color: #540b51;
  }

  .logo-part img {
    width: 25vw;
  }
   .logo-part ul {
    display: none;
  }
  .navigation ul {
    display: none;
  }
  .navigation button {
    background-color: #540b51;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  header {
    background-color: #540b51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 12vw;
    
    
  }
  header h1 {
    color: white;
    font-size: 3.6rem;
  }
  header p {
    color: orange;
    font-size: 2.3rem;
  }
  .google img {
    width: 3vw;
    background-color: white;
  }
  .google {
    background-color: blue;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  .google span {
    margin-left: 3vw;
    color: white;
    width:90vw;
  }
  .email {
    text-transform: uppercase;
    width:90vw;
  }
  .hero-image {
    width: 70vw;
  } 
.logo1{ 
    width:20vw
}
.logo2{
    width:10vw 
}
.logo3{
    width:10vw 
}
.logo4{
    width:7vw 
}
.logo5{
    width:25vw 
}
.logo6{
    width:15vw 
}
.mobile-img{
    width:80vw
}
.mobile2-img{
    width:80vw
}
#section1{
    background-color:#f3eae2
}
#section2{
    background-color:#f3eae2
}
#section3{
    background-color:#f3eae2
}
#section4{
    background-color:#f3eae2
}
#section1 p{
    font-size: 3vw;
    text-transform: uppercase;
}
#section2  div h2{
    font-size:2.5rem;
    
}
#section2  div p{
    font-size:1.8rem; 
}
.mobile3-img{
   width:80vw 
}
#section2 a{
    font-size: 1.8rem;
    text-decoration:none;
    color:#10a6db
}
#section3 h2{
    font-size: 2.5rem;
}
#section3 div p{
    font-size:1.8rem; 
}
#section3 a{
    font-size: 1.8rem;
    text-decoration:none;
    color:#10a6db
}#section4 h2{
    font-size: 2.5rem;
}
#section4 div p{
    font-size:1.8rem; 
}
#section4 a{
    font-size: 1.8rem;
    text-decoration:none;
    color:#10a6db
}
#section5 h3{
    font-size: 2.5rem;
}
#section5 p{
    font-size: 1.8rem;

}
.slack-button{
    background-color: #540b51;
    color: white;
    text-transform: uppercase;
}
.talk-button{
   color: #540b51;
   background-color:white;
   text-transform: uppercase;
}
#section5 p span{
    color: #540b51;
    font-size: 3.5rem;
    display: flex; 
     
    justify-content: center; 
}
#section5{
    display: flex;
    flex-direction: column;
}
.two-buttons{
    margin-left:5vw;
    margin-right:5vw;
display: flex;
flex-direction: column;

}
#section5 li p{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
}